*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;    
    font-family: sans-serif;
}
.header{
    background-image: url(../img/img_main.jpg);
    height: 110vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.header__conteiner-text{
    display: flex;
    flex-direction: row;
    margin: 24px 24px 0;
    justify-content: space-between;
}
.header__conteiner-text-netflix{
    color: rgb(205, 26, 35);
    font-size: 25px;
}
.header__container-log{
    display: flex;
}
.header__container-login-lg,
.header__container-login-btn-lg,
.header__container-login-btn-lg-phone,
.header__container-login-btn-lg-select{
    display: none;
}
.header__container-login:hover .header__container-login-btn-lg-phone{
    display: block flex;
    flex-direction: column;
    border: solid;
    border-radius: 5px;
    background: white;   
}
.header__container-login-btn-lg-phone a{
text-decoration: none;
color: black;
}
.header__container-login{
    display: flex;
    flex-direction: column;
}
.header__container-login-btn-phone{
    border: solid 2px grey;
    display: flex;
    background: none;
    border-radius: 5px;
    font-size: 15px;
    width: 64px;
    height: 32px;
    justify-content: space-around;
    width: 60px;
    text-align: center;
    padding-top: 5px;
}
.header__container-login-sesion{
    margin-left: 10px;
    background-color: rgb(209, 20, 30);
    border-radius: 5px;
    width: 74px;
    height: 32px;
}
.header__container-login-sesion-btn{    
    display: flex;
    text-decoration: none;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: 4px 16px;
    font-size: 16px;
}
.header__main__container{
    margin-inline: 24px;
}
.header__main__container-title{
    text-align: center;
    margin-top: 70px;
    font-size: 32px;
}
.header__main__container-text1,
.header__main__container-text2{
    text-align: center;
    font-size: 18px;
    margin-top: 16px;
}
.header__main__container-text2{
    line-height: 1.6875rem;
}
.header__main__container-mail,
.answer__mail-box{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__main__container-mail-btn:focus ::placeholder{
    display: block;
    background: red;
}
.header__main__container-mail-btn,
.answer__mail-box-mail{
    height: 50px;
    width: 80%;
    opacity: .6;
    display: flex;
    background: black;
    color: white;
    border: solid 1px rgba(255,255,255,0.7);
    font-weight: bolder;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.header__main__container-mail-btn::placeholder,
.answer__mail-box-mail::placeholder{
    color: rgba(255,255,255,0.7);
    text-align: left;
    font-size: 15px;
    padding-left: 15px;
}
.header__main__container-btn,
.answer__mail-box-btn{
    margin-top: 15px;
    background-color: rgb(209, 20, 30);
    width: 150px;
    height: 50px;
    padding: 8px 13px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}
section,
footer{
    background: black;
}
.cards__card1,
.cards__card2,
.cards__card3,
.cards__card4{
    border-bottom: solid 9px rgba(255, 255, 255, 0.137);
    border-width: 100%;
    padding: 0 24px 10px;
    text-align: center;
}
.cards__card-title{
    font-size: 32px;
    padding-top: 56px;
    text-align: center;
    padding-bottom: 20px;
}
.cards__card-text{
    font-size: 18px;
    text-align: center;
}
.cards__card1-container-tv{
    position: relative;
    margin-block: 20px 50px;
    width: 100%;
}
.cards__card1-container-tv-img{
    position: relative;
    width: 100%;
}
.cards__card1-container-tv-video{
    width: 100%;
    position: absolute;
    padding: 15% 13%;
}
.cards__card2-container-tablet{
    position: relative;
    width: 100%;
    margin-block: 20px 50px;
}
.cards__card2-container-tablet-img{
    position: relative;
    width: 100%;
}
.cards__card2-container-tablet-video{
    width: 90%;
    position: absolute;
    padding: 8% 10% 25% 19%;
}
.cards__card3-container-img-kid,
.cards__card4-img{
    width: 100%;
}
.cards__card3-container-img{
    margin-block: 20px 40px;
}
.cards__card4-img{
    margin-top: 25px;
}
.cards__card4-container-downloading{
    border: solid 2px rgba(210, 208, 208, 0.45);
    border-radius: 15px;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    width: 264px;
    height: 63px;
    background: black;
    margin-inline: auto;  
    left: 0;
    right: 0;
    bottom: 0;  
}
.cards__card4{
    text-align: center;
}
.cards__card4-img{
    position: relative;
}
.cards__card4-container-imgAndDownloading{
    margin-bottom: 54px;
    position: relative;
}
.cards__card4-container-downloading-img{
    width: 34px;
    height: 48px;
}
.cards__card4-container-downloading-text{
    text-align: left;
    line-height: 0.8rem;
}
.cards__card4-img-span{
    color: #0071eb;
    font-size: 15px;
}
.cards__card4-icon-download{
       width: 50px;
}
.footer{
    padding: 24px;
    text-align: left;
    
}
.footer__contact{
    margin-bottom: 40px;
    
}
.footer__contact a{
    color: rgba(210, 208, 208, 0.872);
}
.footer__answers{
    display: flex;
    
    flex-direction: column;
}
.footer__answers a{
    padding-bottom: 15px;
    font-size: 15px;
    color: rgba(210, 208, 208, 0.872);
}
.footer__language-btn{
    border: solid 1px rgba(210, 208, 208, 0.45);
    border-radius: 5px;
    width: 120px;
    height: 30px;
    display: flex;
    margin-block: 20px 20px;
    justify-content:space-around;
    padding: 5px;
}
.footer__language-btn-spain{
    text-decoration: none;
}
.footer__container-country{
    margin-block: 10px;
}
.footer__container-country-text{
    color: rgba(210, 208, 208, 0.872);
    font-size: 13px;
    font-weight: 100;
}